<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apdlv.ilibaba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.apdlv.ilibaba.frotect.FrotectActivity"
            android:label="@string/title_activity_frotect" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.apdlv.ilibaba.frotect.TempActivity"
            android:label="@string/title_activity_temp" >
        </activity>
        <activity
            android:name="com.apdlv.ilibaba.gate.GateControlActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.apdlv.ilibaba.gate.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.apdlv.ilibaba.strip.PresetsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Presets"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.apdlv.ilibaba.gate.DoorOpensActivity"
            android:label="@string/title_activity_door_opens" >
        </activity>
        <activity
            android:name="com.apdlv.ilibaba.strip.StripControlActivity"
            android:label="@string/title_activity_waterstrip" >
        </activity>

        <service android:name="com.apdlv.ilibaba.frotect.BTFrotectSerialService" />
    </application>

</manifest>